<aside class ="text-white">
  <a href="http://tonyarthur.com.br/">
    <img src="/assets/img/arthur_profile.jpg" alt="Tony Arthur" />
  </a>
    
  <h1>Tony Arthur</h1>
  <p>Desenvolvedor Salesforce Marketing Cloud</p>
  <p>Graduado em análise e desenvolvimento de sistemas - Estácio de sá</p>
  <p>Capoeirista  <span>&#129336;&#127997;</span></p>
  <ul>
      <li>
          
          {% include icon-facebook.html %}

      </li>
      <li>
          {% include icon-instagram.html %}

      </li>
      <li>
          {% include icon-twitter.html %}
      </li>
      <li>
          {% include icon-linkedin.html %} 

      </li>
      <li>
          {% include icon-github.html %}
      </li>
  </ul>
</aside>