<aside class ="text-white">
  <a href="http://tonyarthur.com.br/">
    <img src="/assets/img/arthur_profile.jpg" alt="Tony Arthur" />
  </a>
    
  <h1>Tony Arthur</h1>
  <p>Desenvolvedor Salesforce Marketing Cloud</p>
  <p>Graduado em análise e desenvolvimento de sistemas - Estácio de sá
    <br/>  Capoeirista  <span>&#129336;&#127997;</span></p>
  <ul>
      <li>
          <a class="social-link"  href="#">
            {% include icon-facebook.html %}
          </a>
      </li>
      <li>
          <a class="social-link"  href="#">
            {% include icon-instagram.html %}
          </a>
      </li>
      <li>
          <a class="social-link" href="#">
            {% include icon-twitter.html %}
          </a>
      </li>
      <li>
          <a class="social-link"  href="#">
            {% include icon-linkedin.html %} 
          </a>
      </li>
      <li>
          <a class="social-link"  href="#">
            {% include icon-github.html %}
          </a>
      </li>
  </ul>
</aside>