<aside id="aside">
  <div class="aside-info" >
      <div class="about-wrapper ">
      <a href="http://tonyarthur.github.io" class="avatar-circle blog-link-avatar">
        <img class="blog-avatar " src="/assets/img/tonyarthur.png">
      </a>
      <h1  class="blog-name text-uppercase">Tony Arthur</h1>
        <p class="text-description">
          Desenvolvedor Salesforce<br/>
          Graduado em analise e desenvolvimento de sistemas - Estácio de sá<br/>
          Capoeirista <span>&#129336;&#127997;</span>
        </p>
    </div>
    <div class="social-icons">
        <ul class="social-list">
          <li class="social-icon">
            {% include icon-facebook.html %}
          </li>
          <li class="social-icon">
            {% include icon-instagram.html %}
          </li>
          <li class="social-icon">
            {% include icon-twitter.html %} 
          </li>
          <li class="social-icon">
            {% include icon-linkedin.html %} 
          </li>
          <li class="social-icon">
            {% include icon-github.html %}
          </li>  
        </ul>
      </div>
  </div>
</aside>
