<header >

  <div class="header-info" >
      <div class="about-wrapper ">
      <a href="http://tonyarthur.github.io" class="avatar-circle blog-link-avatar">
        <img class="blog-avatar " src="/assets/img/tonyarthur.png">
      </a>
      <h1  class="blog-name text-uppercase">Tony Arthur</h1>
        <p class="text-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint dicta recusandae,
         quae soluta provident nisi, magnam omnis eum illum unde deleniti aliquid numquam et, 
         veniam similique libero molestiae fuga atque.</p>
    </div>

    <div class="social-icons">
        <ul class="social-list">
          <li class="social-icon">
            {% include icon-facebook.html %}
          </li>
          <li class="social-icon">
            {% include icon-instagram.html %}
          </li>
          <li class="social-icon">
            {% include icon-twitter.html %} 
          </li>
          <li class="social-icon">
            {% include icon-linkedin.html %} 
          </li>
          <li class="social-icon">
            {% include icon-github.html %}
          </li>  
        </ul>
        
      </div>


  </div>
</header>

<!--<header class="masthead">
    <h1 class="masthead-title">
      <a href="/">{{site.title}}<span>&#39; blog</span></a>
    </h1>
    <nav class="masthead-nav">
      {% for page in site.pages%}
          <a href="{{page.url}}">{{page.title}}</a>
      {%endfor%}
    </nav>  
</header>-->
