@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600&display=swap');

body, html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #999;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}
a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
