
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'aside main'
                                                    
}
main {
    grid-area: main;
    padding: 10px;
    background: #FFF;
}
main section {
  padding: 0px 30px;
}
main section article h1 {
  text-align: center;
}

main section article p {
  text-align: left;
  line-height: 1.7rem;
  margin-bottom: 1.3rem;
}


aside {
    grid-area: aside;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
    padding: 130px 12px 0 12px;
    text-align: center;   
}
aside img{
    border-radius: 50px 50px;
    border: 2px solid;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 14px 0 rgba(247, 241, 241, 0.829);
    margin-bottom: 20px;
} 

aside h1 {
    font-size: 20px;
    letter-spacing: 23px;
    text-transform: uppercase;
    color: #FFF !important;
}

aside ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
aside ul li {
    padding: 20px;
}
aside p {
    font-size: 15px;
}
article img {
    max-width: 100%;
    height: auto;
}

article blockquote {
    border-left: 3px solid currentcolor;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
}

figure {
    margin: 0;
}
figure pre {
    max-width: 77vw;
    overflow: auto;
    margin: 0;
   
}
.social-link {
    text-decoration: none;
    color: #FFF;
}

.social-link :hover {
    color: #030617;
}
.social {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    opacity: .8;
}
.text-white {
    color: #ffffff;
}
.divisor-post {
    width: 20%;
    margin: 1.7rem 0;
    border-top: 0px solid #ddd;
}
.text-al-center{
  text-align: center;
}

/*Mobile*/

@media only screen and (max-width:600px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'aside' 
                             'main'
    }    
}

